# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
ios/
android/

# Metro
.metro-health-check*

# Env / secrets
.env
.env.local
.env*.local

# Misc
npm-debug.*
*.log
.DS_Store
